@font-face
{
    font-family: Bariol_Regular;
    src: url('Bariol_Regular/Bariol_Regular.otf');
}
@font-face
{
    font-family: Lato;
    src: url('Lato/Lato-Reg.otf');
}
.HomeMain
{
    font-family: Lato;
     
}